//colors
$white: white;
$color_pelorous_approx: #3da0cf;
$color_malibu_approx: #6ecaf6;
$color_congress_blue_approx: #005397;
$color_malachite_approx: #27d257;
$color_pelorous_60_approx: rgba(61, 160, 207, 0.6);
$color_title: #005397;

//fonts
$font_0: FramS;
$font_1: Ubuntu;

.header-container {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  .home-objects-slider {
    height: 25vh;
    margin: 0;
    margin-top: auto;
  }
  .clouds {
    height: 20vh;
    width: 100%;
    position: relative;
    .cloud {
      position: absolute;
      height: 40%;
      width: auto;
      opacity: 1;
    }
    .cloud1 {
      top: 0;
      left: 0;
    }
    .cloud2 {
      top: 53%;
      left: 1%;
    }
    .cloud3 {
      top: 0;
      left: 27%;
    }
    .cloud4 {
      top: 38%;
      left: 38%;
    }
    .cloud5 {
      top: 5%;
      left: 57%;
    }
    .cloud6 {
      top: 1%;
      left: 91%;
    }
    .cloud7 {
      left: 70%;
      top: 49%;
    }
    .cloud8 {
      top: 1%;
      left: 91%;
    }
    .cloud9 {
      left: 70%;
      top: 49%;
    }
  }
  .container-content {
    display: flex;
    flex-direction: row;
    height: 55vh;

    .slogan {
      align-self: center;
      margin-left: 10vw;
    }
    .slogan_part {
      display: block;
      p {
        text-transform: uppercase;
        color: $white;
        font-family: $font_0;
        font-size: 5rem;
        line-height: 1.2;
        padding: .5rem 4rem;
        margin: 0;
        background-color: $color_pelorous_approx;
        display: inline-block;
      }
    }
    .leftTextGB p {
      clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%);
    }
    .rightTextGB p {
      clip-path: polygon(0 0, 100% 0, 95% 100%, 0 100%);
      margin-left: 5vw;
    }
    .types {
      margin-left: auto;
      margin-right: 5vw;
      h4 {
        font-family: $font_0;
        text-transform: uppercase;
        color: $white;
        margin: 1rem 0;
        font-size: 4rem;
        transform: scale(1);
        transform-origin: 100% 0;
        transition: .5s ease-in-out;
        &.pulse_hover {
          color: $color_pelorous_approx;
          line-height: 1.2;
          transform: scale(1.1);
          transform-origin: 100% 0;
        }
      }
    }
  }
  .pulse {
    display: block;
    height: 4vh;
    width: 2.3vw;
    margin: 10px;
    border-radius: 50%;
    background-color: $color_malibu_approx;
    z-index: 1;
    &:before {
      content: '';
      background-color: $white;
      display: block;
      width: 1vw;
      height: 1.7vh;
      border-radius: 50%;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto auto;
      animation: pulse_animation 1.5s ease-out infinite;
    }
    &.type {
      position: absolute;
    }
    &.commercial {
      bottom: 18vh;
      right: 32vw;
    }
    &.first_floor {
      bottom: 33vh;
      left: 28vw;
    }
    &.second_floor {
      top: 40vh;
      left: 52vw;
    }
    &.penthouse {
      top: 20vh;
      left: 32vw;
    }
  }
  @keyframes pulse_animation {
    0% {
      width: 1vw;
      height: 1.7vh;
    }
    50% {
      width: 0.3vw;
      height: .7vh;
    }
    100% {
      width: 1vw;
      height: 1.7vh;
    }
  }
}

.information-container .container-content, .reviews-container .container-content, .news-container .container-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  .title p {
    font-size: 4rem;
    text-transform: uppercase;
    margin: 2rem;
    &:first-letter {
      color: $color_malachite_approx;
    }
  }
}

.information-container .container-content, .reviews-container .container-content {
  .post-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 4rem 6rem;
    .post-item-text {
      clip-path: polygon(4% 0, 100% 0, 100% 57%, 96% 100%, 0 100%, 0 39%);
      background-color: $color_pelorous_60_approx;
      margin-left: -5rem;
      display: flex;
      flex-direction: column;
      p {
        font-size: 2.6rem;
        font-family: Ubuntu;
        color: white;
        padding: 1.5rem 6rem;
        line-height: 1.2;
      }
      .detail {
        transform: skewX(-20deg);
        background-color: rgba($color_title, 0.83);
        width: 20%;
        height: 4rem;
        align-self: flex-end;
        .link {
          transform: skewX(20deg);
          padding: 0;
          display: flex;
          height: 100%;
          a {
            background-color: rgba(255, 255, 255, 0);
            border: 0;
            font-size: 2rem;
            font-family: $font_1;
            color: $white;
            margin: auto;
            outline: none;
            text-decoration: none;
            &:active, &:hover, &:visited {
              text-decoration: none;
            }
          }
        }
      }
    }
    .post-item-img {
      img {
        max-width: 120%;

      }
    }
  }
}

.information-container .container-content {
  .title p {
    color: $color_congress_blue_approx;
  }
}

.reviews-container .container-content, .news-container .container-content {
  .title p {
    color: $white;
  }
}

.reviews-container .container-content {
  $review-post-margin-left: -2rem;
  .post-item {
    justify-content: flex-start;
    .post-item-text p {
      font-size: 2.2rem;
      padding: 2rem 4rem;
    }
    &:nth-child(2n) {
      flex-direction: row;
      .post-item-text {
        margin-left: $review-post-margin-left;
      }
    }
    &:nth-child(2n+1) {
      flex-direction: row-reverse;
      .post-item-img {
        margin-left: $review-post-margin-left;
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}

.news-container .news-slider {
  height: 50vh;
  margin-top: 2vh;
  margin-bottom: 4vh;
  * {
    font-family: $font_1;
  }
  .news-slider-wrapper {
    .news-slide {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      transform: scale(0.9);
      transition: 1s ease-out;
      .slide-content {
        background-color: #3f9fd1;
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        clip-path: polygon(20% 0, 100% 0, 80% 100%, 0% 100%);
        .slide-image {
          height: 55%;
        }
        .slide-text {
          padding-right: 18%;
          padding-left: 5%;
          margin-top: auto;
          h3 {
            font-size: 1.5rem;
            color: $white;
            padding-left: 10%;
          }
          p {
            font-size: 1.2rem;
            color: #023757;
            margin-left: 8%;
          }
        }
        .slide-detail {
          margin-left: auto;
          @extend .slide-text;
          .a_class {
            text-decoration: none;
            color: $white;
          }
          a {
            @extend .a_class;
            &:visited, &:active, &:hover {
              @extend .a_class;
            }
            &:hover {
              cursor: pointer;
            }
            padding: .5rem 2rem;
            background-color: #024f8f;
            clip-path: polygon(5% 0, 100% 0, 95% 100%, 0% 100%);
            font-size: 1.5rem;
            color: $white;
          }
        }
      }
    }
    .news-slide.swiper-slide-next {
      transform: scale(1.2);
      transform-origin: 40% 100%;
    }
    .news-slide.swiper-slide-after-next{
      transform-origin: 0% 100%;
    }
    .news-slide.swiper-slide-active {
      transform-origin: 80% 100%;
    }
  }
}

.advantageTitle {
  margin: 2rem 0;
  p {
    text-transform: uppercase;
    font-size: 4rem;
    font-family: $font_1;
    color: $color_title;
    line-height: 1.2;
    text-align: center;
    &:first-letter {
      color: #27d257;
    }
  }
}