/**Default**/

.container-fluid {
    padding: 0 !important;
}

/****/

#phone{
    padding: 3rem;
}

#phone, #phone * {
    font-size: 7rem;
}

.headerReliably {
    width: 100%;
    height: 85px;
    z-index: 5;
    background-color: #005397;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    padding-top: 0.1%;
    margin-top: -8rem;
}

.ReliablyTitle {
    font-size: 43px;
    font-family: "Ubuntu";
    color: rgb(254, 254, 254);
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
}

.oneLetter {
    color: rgb(39, 210, 87);
}

.advantagesContainer{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 3rem auto;
}

.advantagesBlock {
    text-align: -webkit-center;
    display: flex;
    flex-direction: column;
}

.advantageTitle{
    margin: 1rem 0;
}

.advantageTitle p{
    text-transform: uppercase;
    font-size: 40px;
    font-family: "FramS";
    color: rgb(254, 254, 254);
    line-height: 1.2;
    text-align: center;
}

.advantageTitle p:first-letter{
    color: #27d257;
}

.advantagesDescription{
    min-height: 18rem;
    border-radius: 18px 3px/59px 1px;
    border: 3px solid #005397;
}

.advantagesDescription p{
    font-size: 1.6rem;
    font-family: "Ubuntu";
    line-height: 1.504;
    color: rgb(254, 254, 254);
    text-align: left;
    padding-left: 3%;
    padding-top: 1%;
}

.сertificatesBlock {
    display: flex;
    margin: 4rem auto;
}

.progressBlock{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.brackets{
    display: flex;
}

.brackets img{
    margin: auto 1rem;
}

.logoPartner {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.logoBlock {
    display: flex;
    flex-direction: column;
}

.logoBlock h2 {
    font-size: 40px;
    font-family: "FramS";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
}

.logoBlock img {
    z-index: 2;
    margin-top: 10rem;
}

.logoBlock p {
    font-size: 60px;
    font-family: "FramS";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
}

.sliderBlock {
    height: 86rem;
    margin-top: 10rem;
}

.dataBlock h4 {
    height: 4rem;
    font-family: "FramS";
    font-size: 2.8rem;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-transform: uppercase;
    position: relative;
    margin: 1rem 0;
    padding: 0 4rem;
    display: flex;
    align-items: center;
    background-color: rgb(61, 160, 207);
    clip-path: polygon(7% 0%, 100% 0%, 100% 100%, 0% 100%);
    transform: scale(1);
    transform-origin: 100% 0;
    transition: .5s ease-in-out;
}

.dataBlock h4 *{
    font-size: 2.8rem;
}

.dataBlock * {
    font-size: 4rem;
    font-family: "Ubuntu";
    color: rgb(253, 253, 253);
    line-height: 1.2;
    font-weight: bold;
}

.dataBlock {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10rem 0 0;
    margin-left: auto;
}

.advantagesBlock p {
    margin: 0;
}

.swiper-container-vertical {
    background: url(http://globus/wp-content/themes/globus/assets/images/brackets.png);
    background-repeat: no-repeat;
    background-size: 95% 95%;
    background-position: center;
    height: 90%;
}

.object_term{
    margin-top: auto;
}

.object_term h2{
    font-size: 5rem;
}

.logo{
    align-self: center;
    width: 50%;
}

.object_data{
    margin-bottom: auto;
    margin-top: auto;
}

.logo_slider_block{
    display: flex;
    flex-direction: row;
}

.main_wrapper{
    padding-bottom: 10rem;
}