.passport_object {
    /*height: 1000px;*/
}

.PasssportRight {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0;
}

.PasssportRight h4 {
    height: 3rem;
    font-family: "FramS";
    font-size: 1.8rem;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-transform: uppercase;
    position: relative;
    margin: 1rem 0;
    padding: 0 4rem;
    display: flex;
    align-items: center;
    background-color: rgb(61, 160, 207);
    clip-path: polygon(7% 0%, 100% 0%, 100% 100%, 0% 100%);
    transform: scale(1);
    transform-origin: 100% 0;
    transition: .5s ease-in-out;
}

.PasssportRight h4:hover {
    cursor: pointer;
    transform: scale(1.2);
    transform-origin: 100% 0;
}

.PasssportLeft {
    height: 75%;
    position: relative;
}

.PasssportLeft ul {
    clip-path: polygon(4% 0, 100% 0, 100% 69%, 95% 100%, 0 100%, 0 28%);
    min-height: 232px;
    min-width: 500px;
    background-color: rgba(61, 160, 207, 0.75);
    list-style: none;
    display: grid;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 14%;
    position: relative;
    margin: 0 20px;
}

.PasssportLeft li {
    font-size: 24px;
    font-family: "Ubuntu";
    color: rgb(255, 255, 255);
    line-height: 1.3;
}

.PasssportLeft li:before {
    content: '✓';
    color: #27d257;
    padding-right: 1.5rem;
}

.PasssportLeft img {
    position: absolute;
    z-index: 2;
    max-width: 250px;
}

img.passport_logo {
    width: 70%;
}

.PasssportLeft img.Polosu {
    right: 0;
    height: 100%;
}

.moreObject {
    margin: 6rem 0 20rem;
    padding: 0;
}

.apartment_choice {
    height: 800px;
    /*  border-top: 10px solid rgb(61, 160, 207);
    border-bottom: 10px solid rgb(61, 160, 207);*/
}

.apartment_moreObjectLeft li {
    font-size: 2rem;
    font-family: "Ubuntu";
    color: rgb(254, 254, 254);
    line-height: 1.2;
}

.apartment_moreObjectLeft {
    background-color: rgb(61, 160, 207);
    opacity: 0.702;
    min-height: 380px;
    width: 530px;
    list-style: none;
    display: grid;
    padding-bottom: 1%;
    padding-top: 1%;
    margin: 0;
}

.moreObject li:before {
    content: '✓';
    color: #38e669;
    margin-left: -1em;
    margin-right: 0.3em;
    font-weight: bold;
}

.caption, .section_caption {
    font-family: "FramS";
    color: white;
    text-transform: uppercase;
    margin-left: 4rem;
}

.container-caption {
    text-align: center;
    font-size: 5rem;
}

.section_caption {
    font-size: 5rem;
}

hr.div_line {
    background-color: rgb(61, 160, 207);
    border: 0;
    height: 10px;
    margin: 0;
    width: 100%;
}

.object_title {
    margin-left: auto;
}

.object_title h4 {
    text-transform: uppercase;
    text-align: center;
    font-size: 60px;
    font-family: "FramS";
    color: rgb(61, 160, 207);
    line-height: 1.2;
}

.title-row, .infrastructure-row, .choose-row {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title-row {
    margin-top: 10rem;
}

.choose-row {
    justify-content: flex-end;
    min-height: 300px;
}

/*SLIDER STYLE*/

.passport-slider {
    height: 300px;
}

.object-slide {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    animation-duration: 1.5s !important;
}

.object-slide img {
    height: 90%;
    max-width: 80%;
    transform: scale(0.8);
}

.object-slide.swiper-slide-next img{
    transform: scale(1.1);
    margin-bottom: auto;
}

.object-slide h4 {
    vertical-align: middle;
    color: white;
    font-family: "FramS";
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    bottom: 0;
    padding: 2% 0;
    margin: 0;
    width: 80%;
    background-color: #005397;
    border-top-left-radius: 80% 1em;
    border-top-right-radius: 80% 1em;
}

.object-slide.swiper-slide-next h4{
    transform: scale(1.1);
}

div.nav-control {
    margin: 0;
    top: 0;
    width: 3%;
    height: 100%;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

div.nav-control.nav-control-left {
    background: url(http://globus/wp-content/themes/globus/assets/images/objects/left_arrow.png);
}

div.nav-control.nav-control-right {
    background: url(http://globus/wp-content/themes/globus/assets/images/objects/right_arrow.png);
}

/*SLIDER STYLE*/

/*BUY FLAT*/
#block-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 10rem 0 20rem;
}

.main_svg {
    /*height: 100%;*/
}

.node {
    overflow: hidden;
    height: 96%;
    width: 100%;
}

.arrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(https://image.ibb.co/cNWBpk/arrow.png) no-repeat center;
    width: 40px;
}

.svg-wrapper {
    margin: 20px;
    width: 25%;
}

.shape {
    --time: 7s;
    --effect: ease-out;
    stroke: #3da0cf;
    stroke-width: 1;
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    fill: transparent;
    transition: stroke-width var(--time) var(--effect), stroke-dashoffset var(--time) var(--effect), stroke-dasharray var(--time) var(--effect);
}

.inactive {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
}

.svg-div-title {
    display: block;
    color: #fff;
    font-family: "FramS";
    font-size: 1.1rem;
    text-align: center;
    margin-top: 1rem;
    transition: .3s ease-in-out;
}

.svg-div-title::first-letter {
    color: #27d257;
}

.svg-div-text {
    display: block;
    color: #fff;
    font-family: "FramS";
    font-size: .59rem;
    margin-top: 2rem;
    padding: 0 2.5rem;
    transition: .6s ease-in-out;
}

.svg-wrapper:hover .svg-div-title {
    margin-top: 0.5rem;
}

.svg-wrapper:hover .svg-div-text{
    margin-top: 0;
}

/*BUY FLAT*/