/***Slider_home*/
/*.slider{*/
  /*position: absolute;*/
  /*bottom: 0;*/
  /*left: 0;*/
  /*right: 0;*/
  /*margin: 0 auto;*/
/*}*/

.nav-control{
  display: block;
  height: 100%;
  padding: 0 20px;
}

.nav-control-left{
  left: 0;
  background: url(http://globus/wp-content/themes/globus/assets/images/objects/left_arrow.png) no-repeat center;
}

.nav-control-right{
  right: 0;
  background: url(http://globus/wp-content/themes/globus/assets/images/objects/right_arrow.png) no-repeat center; 
}

/*.list{*/
  /*margin: 0;*/
/*}*/

/*.slider, .list{*/
  /*padding: 0!important;*/
/*}*/

/*.object{*/
  /*padding: 0;*/
  /*position: relative;*/
  /*height: 300px;*/
/*}*/

/*.object .object-content{*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*position: relative;*/
    /*bottom: 0; */
  /*text-align: center;*/
/*}*/

/*.object img{*/
  /*max-height: 80%;*/
  /*max-width: 100%;*/
  /*width: auto;*/
  /*left: 0;*/
  /*right: 0;*/
  /*margin: 0 auto;*/
  /*position: absolute;*/
  /*bottom: 12%;*/
/*}*/

/*.object h4{*/
  /*font-family: "FramS";*/
  /*font-size: 2.5rem;*/
  /*text-transform: uppercase;*/
  /*color: white;*/
  /*text-align: center;*/
  /*position: absolute;*/
  /*bottom: 0;*/
  /*left: 0;*/
  /*right: 0;*/
  /*margin: 0;*/
  /*padding-top: 1.5%;*/
  /*width: 98%;*/
  /*height: 15%;*/
  /*background-color: #005397;*/
  /*border-top-left-radius: 80% 1em;*/
  /*border-top-right-radius: 80% 1em; */
/*}*/


/*!*.owl-item .fadeOut{*!*/
  /*!*animation-duration: 0.1s!important;*!*/
/*!*}*!*/

/*!*!***********************************!*!*/
/*!*!********slider_object*******!*!*/
/*!*.swiper-container {*!*/
        /*!*width: 100%;*!*/
        /*!*height: 100%;*!*/
/*!*}*!*/

/*!*.swiper-slide {*!*/
    /*!*display: flex;*!*/
    /*!*flex-direction: column;*!*/
    /*!*justify-content: flex-end;*!*/
    /*!*align-items: center;*!*/
    /*!*font-size: 18px;*!*/
    /*!*transform: scale(0.9);*!*/
/*!*}*!*/

/*!*.swiper-slide:hover{*!*/
  /*!*cursor:pointer;*!*/
/*!*}*!*/

/*!*.swiper-slide img {*!*/
    /*!*height: 90%;*!*/
    /*!*max-width: 85%;*!*/
/*!*}*!*/

/*!*.swiper-slide h4 {*!*/
    /*!*vertical-align: middle;*!*/
    /*!*color: white;*!*/
    /*!*font-family: "FramS";*!*/
    /*!*font-size: 2.5rem;*!*/
    /*!*text-transform: uppercase;*!*/
    /*!*text-align: center;*!*/
    /*!*position: absolute;*!*/
    /*!*bottom: 0;*!*/
    /*!*padding: 2% 0;*!*/
    /*!*margin: 0;*!*/
    /*!*width: 85%;*!*/
    /*!*background-color: #005397;*!*/
    /*!*border-top-left-radius: 80% 1em;*!*/
    /*!*border-top-right-radius: 80% 1em;*!*/
/*!*}*!*/

/*!*.swiper-slide-next img{*!*/
    /*!*height: 110%;*!*/
    /*!*width: 75%;*!*/
/*!*}*!*/
/*!*.swiper-slide-next h4{*!*/
  /*!*width: 75%;*!*/
/*!*}*!*/

/*!*.scale{*!*/
  /*!*transition: all 1.5s;*!*/
/*!*}*!*/

/*!*.big{*!*/
  /*!*transform: scale(1.1);*!*/
/*!*}*!*/
/*!*.normal{*!*/
  /*!*transform: scale(0.9);*!*/
/*!*}*!*/


/**********/
