
/**defoult style**/
.title_about_us {
    font-size: 4.8rem;
    font-family: "Ubuntu";
    line-height: 1.2;
    text-align: center;
    color: #015396;
    text-transform: uppercase;
}
.title_about_us:first-letter {
    color: rgb(39, 210, 87);
}

/***/
.about_us__blockLeft {
    display: flex;
    justify-content: center;
    padding-top: 7%;
}

.about_us__blockRight {
    clip-path: polygon(35% 0%, 100% 0%, 65% 100%, 0% 100%);
    background-color: rgba(0, 0, 0, 0.502);
    height: 100vh;
    display: flex;
    width: 50;
    align-items: center;
    justify-content: center;

}
.about_us_vraper_text {
    width: 50%;
    color: #ffffff;
}
.about_us_vraper_text p {
    font-size: 4rem;
    font-family: "Ubuntu";
    line-height: 1.2;
}
.about_us_vraper_text h3 {
    font-size: 4.8rem;
    font-family: "FramS";
    line-height: 1.2;
    text-align: center;
}
.about_us_vraper_text h3:first-letter {
    color: rgb(39, 210, 87);
}
