/*header*/

.menuHeader {
    display: flex;
    list-style: none;
    position: absolute;
    top: 30px;
    right: 3%;
    z-index: 10;
}
.menuHeader a:focus {
outline: 0;
    text-decoration: none;
}
.menuHeader a:hover {
color: #ffffff;
}

.menuHeader li {
    margin-left: 25px;
    background-color: rgba(0, 83, 151, 0.8);
    opacity: 0.6;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.75);
    width: 146px;
    height: 43px;
    transform: skewX(-20deg);
    display: flex;
    align-items: center;
}

.menuHeader a {
    font-size: 24px;
    line-height: 1.2;
    font-family: 'FramS';
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    width: 100%;
    text-align: center;
    transform: skewX(20deg);
}

.menuHeader a:hover {
    text-decoration: none;
}

.menuHeader a:visited {
    color: rgba(255, 255, 255, 0.6);
}

.menuHeader li:hover {
    box-shadow: 0 0 9px 1px rgba(13, 227, 18, .75);
}


/***/


/*footer_object*/

.footer_object {
    background-color: rgba(0, 0, 0, 0.702);
    padding-bottom: 40px;
}
/*footer_psge*/

.footer_Page {
     background-image:  linear-gradient( rgba(0, 0, 0, 0.702) 0%, rgba(0, 0, 0, 0.702) 100%), url(../images/FooterImg.jpg);
    padding-bottom: 40px;
    background-size: cover;

}


/***/

.form__name,
.formPhone {
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    border-radius: 0px!important;
    width: 205px;
    height: 26px;
    border: 0!important;
    font-size: 16px;
    font-family: "Ubuntu";
    color: rgba(0, 0, 0, 0.502);
    line-height: 1.2;
    transform: skewX(20deg);
}

.form_wrapper {
    transform: skewX(-20deg);
    background-color: #ffffff;
    padding-left: 6px;
    width: 205px;
    height: 26px;
    display: block;
    margin: 18px auto;
}

.form__name,
.formPhone:focus {
    outline: none;
}

.form__comment {
   
    clip-path: polygon(4% 0, 100% 0, 100% 57%, 96% 100%, 0 100%, 0 39%);
    border-radius: 0px!important;
    width: 205px;
    height: 80px;
    border: 0!important;
    background-size: cover;
    max-width: 205px;
    max-height: 80px;
    font-size: 16px;
    font-family: "Ubuntu";
    color: rgba(0, 0, 0, 0.502);
    display: flex;
    line-height: 70px;
    display: block;
    margin: auto;
}

.form__comment:focus {
    outline: none;
}

.form__button {
    border-radius: 0px!important;
    width: 113px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0)!important;
    border: 0!important;
    font-size: 17px!important;
    font-family: "Ubuntu"!important;
    color: rgb(255, 255, 255)!important;
    line-height: 0!important;
    display: block;
    margin: auto;
    padding: 0!important;
    transform: skewX(20deg);
}

.form__button:focus {
    outline: none;
}

.wrapperbutton {
    background-color: rgb(0, 83, 151)!important;
    width: 113px;
    height: 30px;
    margin-left: 90px;
    transform: skewX(-20deg);
}

#wpcf7-f78-o1 {
    width: 205px;
    display: block;
    margin: auto;
}

.textlogoUnder p {
    font-size: 20px;
    font-family: "Ubuntu";
    color: rgb(254, 254, 254);
}

.textlogoUnder span {
    padding-left: 68px;
}

.textlogoUnder img {
    padding-top: 25px;
    padding-bottom: 10px;
}

.textFooter h3 {
    font-size: 30px;
    font-family: "Ubuntu";
    color: rgb(255, 255, 255);
}

.titleFooterCenter {
    font-size: 30px;
    font-family: "Ubuntu";
    color: rgb(255, 255, 255);
    text-align: center;
}

.textFooter1 {
    font-size: 15px;
    font-family: "Ubuntu";
    color: rgb(255, 255, 255);
    margin-bottom: 0;
}

.textFooterNumber {
    font-size: 23px;
    font-family: "Fram S";
    color: rgb(255, 255, 255);
    margin-bottom: 0;
}

.textFooterEmail {
    font-size: 23px;
    font-family: "Ubuntu";
    color: rgb(0, 83, 151);
    font-weight: bold;
    margin-bottom: 0;
}

.icoSocial {
    display: flex;
    justify-content: space-between;
    width: 280px;
}
  