.blog {
}

.blog_logo {
    width: 200px;
    left: 38px;
    position: absolute;
    top: 18px;
    z-index: 11;
}

.titleBlog {
    font-size: 60px;
    font-family: "FramS";
    color: rgb(1, 83, 150);
    line-height: 1.2;
    text-align: center;
}

.header__blog {
    padding-bottom: 30px;
}

.titleCategory {
    font-size: 30px;
    font-family: "FramS";
    color: rgb(1, 83, 150);
    line-height: 1.2;
    text-align: center;
}

.titleCategory:focus {
    outline: none;
    text-decoration: none;
}

.titleCategory:visited {
    color: rgb(1, 83, 150);
}

.titleCategory:hover {
    text-decoration: none;
}

.blog__img {
    display: block;
    margin: auto;
}

.middleBlock {
    text-align: center;
    padding: 25px;
}

.blog__main {
    margin-top: 40px;

}

.blog__blockLeft {
    padding-left: 45px;
}

.blog__blockLeft__title a {
    font-size: 30px;
    font-family: "Ubuntu";
    color: rgb(1, 83, 150);
    line-height: 1.2;
}

.blog__blockLeft__title a:focus {
    text-decoration: none;
}

.blog__blockLeft__title a:hover {
    text-decoration: none;
    color: rgb(94, 115, 150);
}

.blog__blockLeft__title {
    width: 500px;
}

.blog__blockLeft__title:visited {
    color: rgb(1, 83, 150);
}

.blog__blockLeft__title:hover {
    text-decoration: none;
}

.blog__blockLeft__date {
    font-size: 18px;
    font-family: "Ubuntu";
    color: rgb(1, 83, 150);
    line-height: 1.2;
}

.imgPost {
    width: 85%;
    position: relative;
}

.imgPost img {
    width: 85%;
    min-width: 100%;
}

.blog__blockLeft__excerpt p {
    font-size: 24px;
    font-family: "Ubuntu";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    width: 100%;
}

.blog__blockLeft__excerpt {
    display: flex;
    flex-direction: column;
    width: 85%;
    background-color: rgba(0, 0, 0, 0.6);
}

.blog_read_more {
    height: 50px;
    width: 222px;
    background-color: #3da0cf;
    clip-path: polygon(5% 0, 100% 0%, 100% 100%, 0% 100%);
    font-size: 18px;
    font-family: "Ubuntu";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    padding: 10px 25px 10px 37px;
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog_read_more:visited {
    color: rgb(255, 255, 255);
}

.blog_read_more:hover {
    text-decoration: none;
}

.left_comment {
    padding: 25px 0 0 0;
}

.left_comment a {
    font-size: 30px;
    font-family: "Ubuntu";
    color: rgb(1, 83, 150);
    line-height: 1.2;
}

.left_comment a:visited {
    color: rgb(1, 83, 150);
}

.left_comment a:hover {
    color: rgb(1, 83, 150);
    text-decoration: none;
}

.left_comment a:focus {
    outline: 0;
    text-decoration: none;
}

.div_line_post {
    height: 2px;
    background-color: #3da0cf;
    border: 0;
}

.wraper_down_post {
    width: 85%;
}

.right_share span {
    font-size: 30px;
    font-family: "Ubuntu";
    color: rgb(1, 83, 150);
    line-height: 1.2;
    font-weight: 100;
}

.right_share {
    padding: 25px 0 0 0;
}

body .right_share > .ssba img {
    width: 45px !important;
}

.right_share > .ssba-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.right_share > .ssba-wrap div {
    display: flex;
    align-items: center;
}

/*like*/

.dot-irecommendthis {
    background-size: 64%;
    height: 47px;
    position: absolute;
    right: 16px;
    top: 20px;
}

.dot-irecommendthis:hover .active {
    background-position: 0px -51px;
    color: #F56559 !important;
    border: 0 !important;
    margin: 0 0 10px 0 !important;
    padding-left: 50px !important;
    text-decoration: none;
    height: 37px;
    padding-top: 4px;
    font-size: 20px;
    line-height: 1.4;
}

.dot-irecommendthis-count {
    background-position: 0px -38px;
    color: #F56559 !important;
    border: 0 !important;
    margin: 0 0 10px 0 !important;
    padding-left: 50px !important;
    text-decoration: none;
    height: 37px;
    padding-top: 4px;
    font-size: 20px;
    line-height: 1.8;
}

.dot-irecommendthis.active {
    background-position: 0px -51px;
}

.dot-irecommendthis:hover {
    background-position: 0px -51px;
}

/********/

.widget-title {
    display: none;
}

#categories-2 li {

    list-style: none;
    text-decoration: none;
}

#categories-2 a {
    color: rgb(1, 83, 150);
    text-decoration: none;
    font-size: 36px;
    font-family: "FramS";
    color: rgb(1, 83, 150);
    line-height: 1.2;
    text-transform: uppercase;
}

#categories-2:focus {
    color: rgb(1, 83, 150);
    text-decoration: none;
    outline: 0;
}

#categories-2 ul {
    margin: 0;
    padding: 0;
    padding-top: 60px;
    padding-bottom: 70px;
}

.form_blog_text {
    letter-spacing: 3px;
    padding-left: 4% !Important;
    font-size: 20px;
}

.paginate_links_blog {
    width: 85%;
    text-align: right;
    padding-bottom: 22px;
}

.paginate_links_blog a {
    font-size: 24px;
    font-family: "Ubuntu";
    color: #7b7b7b;
    line-height: 1.2;
    margin-left: 5px;
    text-decoration: none;
}

.paginate_links_blog a:hover {
    font-size: 24px;
    color: rgb(0, 0, 0);
}

.paginate_links_blog .current {
    font-size: 26px;
    font-family: "Ubuntu";
    color: rgb(0, 0, 0);
    line-height: 1.2;
}

.glyphicon {
    padding-bottom: 19px;
    font-size: 17px;
}

.dots {
    font-size: 24px;
    font-family: "Ubuntu";
    color: #7b7b7b;
    line-height: 1.2;
    margin-left: 2px;
}

.form_wrapper_blog {
    transform: skewX(-20deg);
    background-color: rgba(176, 202, 214, 0.65);
    padding-left: 6px;
    width: 262px;
    height: 43px;
    border: 1px solid #015396;
    margin: 0 0 21px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.75);
}

.form_blog_text {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 0px !important;
    width: 251px;
    height: 43px;
    border: 0 !important;
    transform: skewX(20deg);
}

.form_blog_text:focus {
    outline: none;
}

input.form_blog_text::placeholder {
    color: #ffffff;
    font-size: 24px;
    font-family: "Ubuntu" !important;
    line-height: 1.2;
}

.wrapperbutton_blog {
    transform: skewX(-20deg);
    background-color: rgba(106, 146, 177, 0.83);
    padding-left: 6px;
    width: 262px;
    height: 43px;
}

.form_blog_submit {
    width: 247px;
    height: 41px;
    background-color: rgba(255, 255, 255, 0) !important;
    border: 0 !important;
    font-size: 30px !important;
    font-family: "Ubuntu" !important;
    color: rgb(255, 255, 255) !important;
    padding: 0 !important;
    transform: skewX(20deg);
}

.form_blog_submit:focus {
    outline: none;
}

.search_form_blog {
    transform: skewX(-20deg);
    padding-left: 6px;
    width: 262px;
    height: 39px;
    background-color: rgba(61, 160, 207, 0.502);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.75);
    display: flex;
}

.formSearch {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 0px !important;
    width: 251px;
    height: 43px;
    border: 0 !important;
    transform: skewX(20deg);
    padding-left: 4% !Important;
}

input.formSearch::placeholder {
    color: #ffffff;
    font-size: 24px;
    font-family: "Ubuntu" !important;
    line-height: 1.2;
    letter-spacing: 3px;
}

input.formSearch:focus {
    outline: 0;
}

.search_form_blog .glyphicon {
    font-size: 26px;
    color: #ffffff;
    top: 8px;
    padding-right: 2%;
}

#respond .comment-form-author label,
#respond .comment-form-email label,
#respond .comment-form-url label,
#respond .comment-form-age label,
#respond .comment-form-comment label {
  display: none;
}
.form-submit>#submit{
    color: #FFF;
    font-size: 13px;
    padding: 10px 20px;
    background-color: rgba(106, 146, 177, 0.83);
}
#comment {
    height: 100px;
    width: 100%;
}

#author, #email, #url {
    width: 100%;
    background-color: rgba(176, 202, 214, 0.65);
    border: 1px solid #015396;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.75);
    border-radius: 0;
    font-size: 16px;
    font-family: "Ubuntu";
    color: rgb(1, 83, 150);
    line-height: 1.2;
    padding: 9px 17px;
}
.comment-form-author ,.comment-form-email{
    width: 302px;
}

.vraper_comment_registr{
    display: flex;
    justify-content: space-around;
}
.comment-author img {
    width: 50px;
    border-radius: 50%;
    margin: 0 10px 0 0px;
}

.comments-title ,#reply-title{
    font-size: 30px;
    font-family: "Ubuntu";
    color: rgb(1, 83, 150);
    line-height: 1.2;
    font-weight: 100;
}

.comment-author {
    margin: 0 0 1.625em;
    display: flex;
    align-items: center;
}

.comment-author * {
    font-family: "Ubuntu";
}

.comment-author p ,.comment-author span ,.comment-author .fn  {
    font-size: 16px;
    color: rgb(1, 83, 150);
    margin: 0;
    padding-right: 4px;
}
.comment-notes , .comment-notes>.required{
    font-size: 14px;
    color: rgb(150, 0, 58);

}

.comment-list {
    padding: 0;
    margin: 0;
    width: 85%;
}
#email-notes{
    display: none;
}
#comment {
    background-color: rgba(176, 202, 214, 0.65);
    border: 1px solid #015396;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.75);
    border-radius: 0;
    font-size: 16px;
    font-family: "Ubuntu";
    color: rgb(1, 83, 150);
    line-height: 1.2;
    padding: 9px 17px;
}

.comment-form {
    width: 85%;
}
.comment-form-url{
    display: none;
}